In [1]:
import pandas as pd

In [2]:
amypro = pd.read_csv('/novo/projects/departments/cdd/public/users/ehec/au24/datasets/amypro22.csv')
app = pd.read_csv('/novo/projects/departments/cdd/public/users/ehec/sbxw_files_2/fibrillatioNN_prediction/sbxw/tables/seuma2022_41467_2022_34742_MOESM6_ESM_allvariants_labels.csv')
serrano = pd.read_csv('/novo/projects/departments/cdd/public/users/ehec/sbxw_files_2/fibrillatioNN_prediction/sbxw/tables/serrano_filteredlysozyme_filteredwaltzoverlap_filteredlt6.csv')
nnk4 = pd.read_csv('/novo/projects/departments/cdd/public/users/ehec/au24/datasets/nnk4_truefull_nostop.csv').dropna()

# AMYPRO

In [3]:
amypro.head(2)

,Unnamed: 0,sequence,res_value_bool,name,len,dataset,data_split,value_bool
0,13990,LPICPGGAARCQVTLRDLFDRAVVLSHYIHNLSSEMFSEFDKRYTH...,0000001111111111111111111111111111000000001111...,Prolactin__AP00001,199,amypro22,test,1
1,13991,KNTMEHVSSSEESIISQETYKQEKNMAINPSKENLCSTFCKEVVRN...,0000000000000000000000000000000000000000000000...,Alpha-s2-casein__AP00004,207,amypro22,test,1

In [6]:
min(amypro['len']), max(amypro['len'])

(35, 660)

In [9]:
amypro['ones'] = amypro['res_value_bool'].apply(lambda x: x.count('1'))
amypro['zeros'] = amypro['res_value_bool'].apply(lambda x: x.count('0'))

In [13]:
sum(amypro['ones']) / (sum(amypro['ones']) + sum(amypro['zeros']))

0.18374907384539393

# SERRANO

In [16]:
serrano.head(3)

,Unnamed: 0,sequence,value_bool,parent_protein,name,group,fold,seq_aa_length
0,1,PGGGKVYKPV,0,t-Protein,K19d,serrano_1,-1,10
1,2,PGGGKNAEVYKPV,0,t-Protein,Mut1,serrano_1,-1,13
2,4,QTAPVPMPDLKNVKSKIGSTENLKHQPGGGKVQIVY,0,t-Protein,K19Chym,serrano_1,-1,36

In [18]:
sum(serrano['value_bool'])/len(serrano)

0.2468354430379747

In [20]:
serrano["len"] = serrano["sequence"].apply(lambda x: len(x))
min(serrano["len"]), max(serrano["len"])

(6, 36)

In [21]:
len(serrano)

158

# APP

In [22]:
app.head(3)

,Unnamed: 0,aa_seq,ID,dataset,mean_count,nscore_c,nscore1_c,nscore2_c,nscore3_c,sigma,fAD,is_amyloid
0,0,DAEFRHDSGYEVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIA,WT;D-1-D;A-2-A;E-3-E;F-4-F;R-5-R;H-6-H;D-7-D;S...,WT,1.527546e+06,0.000000,0.241693,0.018870,-0.218536,0.455606,non-fAD,False
1,1,KAEFRHDSGYEVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIA,D-1-K,single,7.256667e+02,0.479471,0.590382,0.191242,0.848050,0.461254,non-fAD,False
2,2,DAEFRHDSGYEVHHQKLVFFAEDVGSNKGAIIGLEVGGVVIA,M-35-E,single,7.083333e+02,-3.966931,-4.092460,-5.340983,-3.732004,0.717547,non-fAD,False

In [24]:
sum(app['is_amyloid'].astype('float'))/len(app)

0.017241379310344827

In [25]:
len(app)

754

# NNK4

In [27]:
nnk4.head(2)

   Unnamed: 0         sequence  len  value_bool
0           0  KKQETSSRIMRLVGL   15           0
1           1              KKL    3           0

In [28]:
sum(nnk4['value_bool'])/len(nnk4)

0.2380308358128212

In [30]:
nnk4['len'] = nnk4['sequence'].apply(lambda x: len(x))
min(nnk4['len']), max(nnk4['len'])

(1, 20)

In [31]:
len(nnk4)

7394