In [2]:
import pandas as pd

# Amyloid beta peptide

In [3]:
path = 'tables/seuma2022_41467_2022_34742_MOESM6_ESM_allvariants.csv'
df = pd.read_csv(path)
filt_df = df[df['dataset'].isin(['single'])].copy(deep=True)
filt_df['position'] = filt_df['ID'].apply(lambda x: int(x.split('-')[1]))
# 672 is the first residue in amyloid beta peptide (D)
filt_df['mutation_fullseq'] = filt_df['ID'].apply(lambda x: x[0]+str(int(x[2:-2])+671)+x[-1])
filt_df.sort_values(by='position',inplace=True)
print(filt_df.shape)
display(filt_df.value_counts('fAD'))
filt_df[filt_df['fAD']=='fAD_d']

(753, 12)

fAD
non-fAD    737
fAD_d       13
fAD_r        1
Name: count, dtype: int64

,aa_seq,ID,dataset,mean_count,nscore_c,nscore1_c,nscore2_c,nscore3_c,sigma,fAD,position,mutation_fullseq
2508,DAEFRRDSGYEVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIA,H-6-R,single,1501.333333,-0.199547,1.689461,-2.391958,0.833520,0.493478,fAD_d,6,H677R
600,DAEFRHHSGYEVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIA,D-7-H,single,718.666667,1.014597,1.293292,0.936026,0.930563,0.459362,fAD_d,7,D678H
581,DAEFRHNSGYEVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIA,D-7-N,single,1265.333333,0.491586,-0.114909,0.788567,0.465496,0.458537,fAD_d,7,D678N
775,DAEFRHDSGYKVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIA,E-11-K,single,1735.666667,0.376245,0.295174,0.630261,0.026849,0.457726,fAD_d,11,E682K
2209,DAEFRHDSGYEVHHQQLVFFAEDVGSNKGAIIGLMVGGVVIA,K-16-Q,single,1514.000000,0.789307,-0.028554,1.031743,1.021019,0.458101,fAD_d,16,K687Q
971,DAEFRHDSGYEVHHQKVVFFAEDVGSNKGAIIGLMVGGVVIA,L-17-V,single,2228.333333,1.819164,2.440808,1.550929,1.774357,0.456433,fAD_d,17,L688V
2160,DAEFRHDSGYEVHHQKLVFFGEDVGSNKGAIIGLMVGGVVIA,A-21-G,single,3197.000000,0.472801,0.683600,0.223785,0.713284,0.456824,fAD_d,21,A692G
1182,DAEFRHDSGYEVHHQKLVFFAKDVGSNKGAIIGLMVGGVVIA,E-22-K,single,1118.333333,0.590773,0.885975,0.672220,0.234799,0.459884,fAD_d,22,E693K
1200,DAEFRHDSGYEVHHQKLVFFAQDVGSNKGAIIGLMVGGVVIA,E-22-Q,single,1147.000000,2.179077,2.500043,2.264291,1.795308,0.457449,fAD_d,22,E693Q
2137,DAEFRHDSGYEVHHQKLVFFAGDVGSNKGAIIGLMVGGVVIA,E-22-G,single,907.666667,2.695622,3.339910,2.565956,2.406674,0.458100,fAD_d,22,E693G
1216,DAEFRHDSGYEVHHQKLVFFAENVGSNKGAIIGLMVGGVVIA,D-23-N,single,10.666667,2.327013,2.774342,-2.901775,2.288617,0.740799,fAD_d,23,D694N
1845,DAEFRHDSGYEVHHQKLVFFAEDVGSNKGAIIGVMVGGVVIA,L-34-V,single,1245.333333,2.214526,5.134203,1.594018,0.973974,0.457035,fAD_d,34,L705V
1691,DAEFRHDSGYEVHHQKLVFFAEDVGSNKGAIIGLMVGGVVIT,A-42-T,single,722.333333,1.610233,1.498951,1.918905,1.208584,0.460579,fAD_d,42,A713T

In [4]:
filt_df.shape

(753, 12)

In [5]:
filt_df.dataset.value_counts()

dataset
single    753
Name: count, dtype: int64

# Waltz

In [27]:
# we used to call non-hydrophobic "randpadded"
path = 'datasets/sbxw_fibrillation_peptide_waltzdb-5fold_train-val_serrano-test_randpadded10x_padlen-10_resvaluebool.csv'
df = pd.read_csv(path)
df

,Unnamed: 0,sequence,value_bool,group,fold,data_split_fold1,data_split_fold2,data_split_fold3,data_split_fold4,data_split_fold5,parent_protein,name,seq_aa_length,mask,core_sequence,res_value_bool
0,0,THESNTNNG,0,NaN,1,val,train,train,train,train,NaN,NaN,9,001111110,ESNTNN,000000000
1,1,TDSTESNTNNQDR,0,NaN,1,val,train,train,train,train,NaN,NaN,13,0000111111000,ESNTNN,0000000000000
2,2,CDGGQRCESNTNNQ,0,NaN,1,val,train,train,train,train,NaN,NaN,14,00000001111110,ESNTNN,00000000000000
3,3,NGPRESNTNNHCETNKHEG,0,NaN,1,val,train,train,train,train,NaN,NaN,19,0000111111000000000,ESNTNN,0000000000000000000
4,4,DNDKKRESNTNNHC,0,NaN,1,val,train,train,train,train,NaN,NaN,14,00000011111100,ESNTNN,00000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,14143,MERVVEQMCI,0,serrano_2,-1,test,test,test,test,test,human prion protein,116-125,10,1111111111,MERVVEQMCI,0000000000
14144,14144,EQMCITQYER,0,serrano_2,-1,test,test,test,test,test,human prion protein,121-130,10,1111111111,EQMCITQYER,0000000000
14145,14145,TQYERESQAY,0,serrano_2,-1,test,test,test,test,test,human prion protein,126-135,10,1111111111,TQYERESQAY,0000000000
14146,14146,ESQAYYQRGS,0,serrano_2,-1,test,test,test,test,test,human prion protein,131-140,10,1111111111,ESQAYYQRGS,0000000000
14147,14147,YQRGSSMVLF,0,serrano_2,-1,test,test,test,test,test,human prion protein,136-145,10,1111111111,YQRGSSMVLF,0000000000

In [35]:
# serrano
df[df['fold']==-1].value_bool.mean()

0.2468354430379747

In [28]:
df.fold.value_counts()

fold
 1    2800
 2    2800
 3    2800
 4    2800
 5    2790
-1     158
Name: count, dtype: int64

In [33]:
df[df['fold']!=-1].shape

(13990, 16)

In [29]:
df[df['fold']!=-1].value_counts('value_bool')

value_bool
0    8920
1    5070
Name: count, dtype: int64

In [30]:
df[df['fold']!=-1]['value_bool'].mean()

0.36240171551107936

In [31]:
df[df['fold']!=-1].sequence.apply(len).min()

8

In [32]:
df[df['fold']!=-1].sequence.apply(len).max()

26

# CANYA

In [24]:
path = 'datasets/sbxw_fibrillation_peptide_canyaNNK1to3-5fold_train-val_canyaNNK4-test.csv'
df = pd.read_csv(path)
df

,Unnamed: 0,sequence,value_bool,dataset,fold,data_split_fold1,data_split_fold2,data_split_fold3,data_split_fold4,data_split_fold5
0,0,VHMNRSGSAALEFGMLWEYI,0,NNK3,1,val,train,train,train,train
1,1,QLVRQMTKGVG,0,NNK3,1,val,train,train,train,train
2,2,WFIRARFTLGKRNELREVI,0,NNK1,1,val,train,train,train,train
3,3,CCAVLFRGVRGMVRCNWNFD,0,NNK3,1,val,train,train,train,train
4,4,MLCGINGMMSSTLVCGRAII,0,NNK2,1,val,train,train,train,train
...,...,...,...,...,...,...,...,...,...,...
107764,107764,FFVEGESEAINKCLVLQK,0,NNK4,-1,test,test,test,test,test
107765,107765,FF,0,NNK4,-1,test,test,test,test,test
107766,107766,FFY,0,NNK4,-1,test,test,test,test,test
107767,107767,FFYLFDSCLGLFFYKDYLSS,0,NNK4,-1,test,test,test,test,test
107768,107768,FFFMMEGITNY,0,NNK4,-1,test,test,test,test,test

In [25]:
df.value_counts('fold')

fold
 1    20146
 2    20146
 4    20146
 3    20146
 5    20146
-1     7039
Name: count, dtype: int64

In [26]:
df[df['fold']!=-1].shape[0]

100730

In [4]:
df[df['fold']!=-1].value_counts('value_bool')

value_bool
0    79904
1    20826
Name: count, dtype: int64

In [5]:
df[df['fold']!=-1]['value_bool'].mean()

0.20675071974585527

In [9]:
df.sequence.apply(len).min()

1

In [8]:
df.sequence.apply(len).max()

20